In [1]:
import requests
import pandas as pd
from io import StringIO
import datetime
import os
url = "https://isin.twse.com.tw/isin/class_main.jsp?owncode=&stockname=&isincode=&market=1&issuetype=1&industry_code=&Page=1&chklike=Y"
response = requests.get(url)
listed = pd.read_html(response.text)[0]
listed.columns = listed.iloc[0,:]
listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
listed

0   有價證券代號 有價證券名稱 市場別    產業別 公開發行/上市(櫃)/發行日
1     1101     台泥  上市   水泥工業     1962/02/09
2     1102     亞泥  上市   水泥工業     1962/06/08
3     1103     嘉泥  上市   水泥工業     1969/11/14
4     1104     環泥  上市   水泥工業     1971/02/01
5     1108     幸福  上市   水泥工業     1990/06/06
..     ...    ...  ..    ...            ...
958   9944     新麗  上市    其他業     2002/08/26
959   9945    潤泰新  上市    其他業     1992/04/30
960   9946   三發地產  上市  建材營造業     2013/09/17
961   9955     佳龍  上市    其他業     2008/01/21
962   9958    世紀鋼  上市   鋼鐵工業     2008/03/12

[962 rows x 5 columns]

In [7]:
listed.columns = listed.iloc[0,:]
# listed = listed[["有價證券代號","有價證券名稱","市場別","產業別","公開發行/上市(櫃)/發行日"]]
listed = listed.iloc[1:]
listed

1    1101    台泥  上市   水泥工業  1962/02/09
2    1102    亞泥  上市   水泥工業  1962/06/08
3    1103    嘉泥  上市   水泥工業  1969/11/14
4    1104    環泥  上市   水泥工業  1971/02/01
5    1108    幸福  上市   水泥工業  1990/06/06
6    1109    信大  上市   水泥工業  1991/12/05
..    ...   ...  ..    ...         ...
958  9944    新麗  上市    其他業  2002/08/26
959  9945   潤泰新  上市    其他業  1992/04/30
960  9946  三發地產  上市  建材營造業  2013/09/17
961  9955    佳龍  上市    其他業  2008/01/21
962  9958   世紀鋼  上市   鋼鐵工業  2008/03/12

[961 rows x 5 columns]